<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/unitegallery/1.7.40/css/unite-gallery.min.css'
          type='text/css'/>

    <link rel='stylesheet'
          href='https://cdnjs.cloudflare.com/ajax/libs/unitegallery/1.7.40/themes/default/ug-theme-default.min.css'
          type='text/css'/>

    <style>
        body {
            background-image: url("/assets/imgs/PIA14156-1920x1200.jpg");
        }

        .list-group-item.selected {
            background-color: #007bff5c;
            border-color: #bd2130;
        }

        .page-item .page-link {
            color: #7d0e1e;
            border-radius: 0;
        }

        .page-item.disabled .page-link {
            color: #7d0e1e;
            pointer-events: none;
            cursor: auto;
            background-color: #c4c8cc;
            border-color: #dee2e6;
            border-radius: 0;
        }

        .page-item:last-child .page-link {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        .page-item:first-child .page-link {
            margin-left: 0;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    </style>

</head>
<body>


<div class="container">
    <blockquote class="blockquote text-center" style="padding-top: 20px">
        <h1 class="mb-0">Mars Rover Photos</h1>
        <footer class="blockquote-footer" style="color: white">Photos taken by <b>{{ .rover}}</b> rover with
            <b>{{ .cam}}</b> camera
        </footer>
    </blockquote>
    <div class="row">
        <div class="col col-lg-3">
            <div class="list-group">
            {{ $self:= .}}
            {{ range $i, $r := .rovers}}
                <div class="list-group-item list-group-item-action{{if eq $r.Name $self.rover}} selected{{end}}">
                    <div class="d-flex w-100 justify-content-between">
                        <h3 class="mb-1">{{ $r.Name}}</h3>
                        <small>rover</small>
                    </div>
                    <p class="mb-1"><span>Landing</span>{{ $r.LandingDate}}</p>
                    <small><b>Total photos</b>:{{ $r.TotalPhotos}}</small>

                    <div class="btn-group" role="group" style="width: inherit;padding-top:10px">
                        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{if eq $r.Name $self.rover}}
                        {{if eq  $self.cam  "all"}}
                            All Cameras
                        {{else}}
                                {{ $self.cam }}
                            {{end}}
                        {{else}}
                            select camera
                        {{end}}

                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <a class="dropdown-item" href="/rover/{{$r.Name}}/cameras/1">All cameras</a>
                        {{ range $j, $c := $r.Cameras}}
                            <a class="dropdown-item" href="/rover/{{$r.Name}}/{{$c.Name}}/1">{{ $c.Name}}</a>
                        {{end}}
                        </div>
                    </div>
                </div>
            {{end}}
            </div>
        </div>
        <div class="col col-lg-9">
        {{if .photos}}
            <div class="embed-responsive embed-responsive-21by9" id="gallery" style="display:none;">
            {{ range $i, $v := .photos}}
                <img src="{{$v.ImgSrc}}" data-image="{{$v.ImgSrc}}" data-description="">
            {{end}}
            </div>
        {{else}}
            <blockquote class="blockquote text-center" style="padding-top:20%">
                <h2 class="mb-0" style="color: #bd2130">No image for {{.cam}} camera</h2>
                <footer class="blockquote-footer" style="color: white">Please select another camera</footer>
            </blockquote>
        {{end}}
        </div>
    </div>
    <nav aria-label="Page navigation example" style="padding-top: 20px">
        <ul class="pagination justify-content-end">
            <li class="page-item  {{if eq .page "1"}}disabled{{end}}">
            {{if eq  $self.cam  "all"}}
                <a class="page-link" href="/rover/{{ .rover}}/cameras/{{.previouspage}}" tabindex="-1"
                >Previous</a>
            {{else}}
                <a class="page-link" href="/rover/{{ .rover}}/{{.cam}}/{{.previouspage}}" tabindex="-1"
                >Previous</a>
            {{end}}
            </li>
        {{if .photos}}
            <li class="page-item">
            {{if eq  $self.cam  "all"}}
                <a class="page-link" href="/rover/{{ .rover}}/cameras/{{.nextpage}}" tabindex="-1"
                >Next</a>
            {{else}}
                <a class="page-link" href="/rover/{{ .rover}}/{{.cam}}/{{.nextpage}}">Next</a>
            {{end}}
            </li>
        {{end}}
        </ul>
    </nav>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script type='text/javascript'
        src='//cdnjs.cloudflare.com/ajax/libs/unitegallery/1.7.40/js/unitegallery.min.js'></script>
<script type='text/javascript'
        src='https://cdnjs.cloudflare.com/ajax/libs/unitegallery/1.7.40/themes/default/ug-theme-default.min.js'></script>

<script>

    $(document).ready(function () {
        $("#gallery").unitegallery({
            thumb_width: 160,
            thumb_height: 120,
            gallery_height: 600,
        });
    });

    $('.dropdown-toggle').dropdown()


</script>
</body>
</html>